@charset "UTF-8";
@font-face {
	font-family: "FonteLogo";
	src: url("../_fonts/bubblegum-sans-regular.otf");
}
body {
	color: black;
     background-color: dimgrey;
	font-family: sans-serif;
}
	p{
		text-align: justify;
		text-indent: 50px;
	}
/*formatação de imagens */
figure.fotos-legenda{
	position:relative;
	top: 0px;
    border: 8px solid white;
	box-shadow: 1px 1px 10px black;
}

figure.fotos-legenda img{
	wedth:10%;
    height:41%;
}

figure.fotos-legenda figcaption{
	opacity: 0;
	position: absolute;
	top:0px;
	background-color: rgb(0,0,0,.4);
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s;
}
figure.fotos-legenda:hover figcaption{
opacity: 1;

}

nav#menu{
	background-color: white;
	display:block;
}
nav#menu ol{
	background-color: white;
	color: black;
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -10px;
	left: 500px;
}
nav#menu li{
	color: black;
	display: inline-block;
	background-color: gainsboro;
	padding:15px;
	margin: 2px;
	transition: background-color 1s;
}
nav#menu ul{
	color: black;
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: 60px;
	left: 300px;

}
nav#menu li:hover{
background-color: #888888;
}

nav#menu a{
	text-decoration: none;
	color: black;
}
nav#menu a:hover{
	text-decoration:underline ;
	color: white;
}

div#interface{
	width: 990px;
	background-color: white;
	margin: -10px auto 0 auto ;
	box-shadow:0px 0px 10px black;
	padding:10px 10px 10px 10px ;

}

header#cabecalho img#icone{
	position: absolute;
	top:130px;
	left:990px;
}

header#cabecalho{
	border-bottom:1px black  ridge;
	height: 280px;
	background:url("../_imagens/glass-logo-peq.jpg")no-repeat 0px 228px ;
}

header#cabecalho h1{
	font-family: FonteLogo,sans-serif;
	font-size: 40px ;
	color: #888888;
	text-shadow:10px 10px 10px 10px;
	padding: 0px;
	margin: 10px 10px 10px 20px ;
}
header#cabecalho h2{
	font-family: Arial,sans-serif;
	font-size: 20px ;
	color: #000000;
	text-shadow:1px 1px 1px 1px;
	padding: 0px;
	margin: 80px 0px 0px 0px ;
}

header#cabecalho h3{
	font-family: Arial,sans-serif;
	font-size: 20px ;
	color: #000000;
	text-shadow:1px 1px 1px 1px;
	padding: 0px;
}
section#corpo {
	display: block;
	width:630px;
	float: left;
	border-right:2px #888888 solid;
	margin:12px 0px 0px 0px;


}
aside#lateral{
	display: block;
	width: 350px;
	float: right;
	background-color: #888888;
	padding: 0px 5px 2px 0px;
	margin-top: 10px;
	box-shadow:2px 2px 2px rgba(0,0,0,.5);
}
aside#lateral h2 {
font-family: FonteLogo,sans-serif;
	font-size: 15pt;
	background-color: #606060;
	text-align: center;
	padding: 5px;

}

aside#lateral h1 {
	font-family: FonteLogo, sans-serif;
	font-size: 20pt;
	text-align: left;
	margin: 20px 20px 2px 2px;
}

footer#rodape{
	clear: both;
	border-top:1px #888888 solid ;
}
footer#rodape p{
	text-align: center;
}

table#spec{
	border: 2px #888888 solid;
	border-spacing:0px;
	margin-left: auto;
	margin-right:auto;
	margin-top: 0px;

}
table#spec td{
	border: 1px #888888 solid;
	padding:10px;
	text-align: left;

}
table#spec td.ce{
	color: white;
	background-color: #888888;
	vertical-align: bottom;
	font-weight: bold;
}
table#spec td.cd{
	background-color:#cecece ;
}

table#spec  caption{
	margin-top: -30px;
	color: darkmagenta;
	font-size:12pt;
	font-weight: bold;
	text-align: center;

}
table#spec  span{
	display: block;
	float: right;
	color: cornflowerblue;
	font-size: 8pt;
	margin-top: 10px;
}
article#noticia-principal h4{
	font-size: 20pt;
	color: #dddddd;
	background-color:#606060 ;
	padding:5px 0px 5px 0px;
	margin-top:10px;
	margin-bottom:10px;

}
header#cabecalho-section h6{
text-align: right;
	font-size: 13pt;
	padding: 0px;
	margin-top:0px;
	margin-bottom: 4px;
}
header#cabecalho-section h3{
font-family:Adventure, sans-serif;
	margin-top: 0px;
}
header#cabecalho-section h5{
 font-family: Arial sans-serif;
	font-size: 15pt;
	color: black;
	margin-bottom:0px;
}
header#cabecalho-section h2 {
	margin-top: 0px;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

