@charset "UTF-8";
ul#album-fotos01{
    width: 700px;
    margin: auto;
    padding: 50px;
    overflow:hidden;
    list-style: none;
}

ul#album-fotos01 li{
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid white;
    -webkit-transition:all .2s ease-in ;
}

ul#album-fotos01  li#foto01 {
background:url("../_imagens/galeria-01.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color:white ;
}
ul#album-fotos01  li#foto01:hover {
    background-position: 0% 0%;
    background-size: 200px 200px;
}
ul#album-fotos01  li#foto02 {
    background:url("../_imagens/galeria-02.jpg")no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color:white ;
}
ul#album-fotos01  li#foto02:hover {
    background-position: 0% 0%;
    background-size: 200px 200px;
}
ul#album-fotos01  li#foto03 {
    background:url("../_imagens/galeria-03.jpg")no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color:white ;
}
ul#album-fotos01  li#foto03:hover {
    background-position: 0% 0%;
    background-size: 200px 200px;
}

ul#album-fotos01  li#foto04 {
    background:url("../_imagens/galeria-04.jpg")no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color:white ;
}
ul#album-fotos01  li#foto04:hover {
    background-position: 0% 0%;
    background-size: 200px 200px;
}

ul#album-fotos01  li#foto05 {
    background:url("../_imagens/galeria-05.jpg")no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color:white ;
}
ul#album-fotos01  li#foto05:hover {
    background-position: 0% 0%;
    background-size: 200px 200px;
}

ul#album-fotos01  li#foto06 {
    background:url("../_imagens/galeria-06.jpg")no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color:white ;
}
ul#album-fotos01  li#foto06:hover {
    background-position: 0% 0%;
    background-size: 200px 200px;
}

ul#album-fotos01 li span{
    opacity: 0;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    background-color: rgba(0,0,0,.3);
    font-size: 9pt;
    line-height: 370px;
    padding: 5px;

}
ul#album-fotos01 li:hover span {
    opacity: 1;

}

ul#album-fotos01 li:hover {
 -webkit-transform: scale(1.5);

}


